<nav class="navbar navbar-expand-lg bg-dark px-4 py-2 ">
  <div class="container-fluid ">
    <a class="navbar-brand text-white iphone" href="#">Iphone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item px-2">
          <a class="nav-link  products" aria-current="page" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link about" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  contact" href="#">Contact</a>
        </li>
      </ul>
      <a  style="margin-left: 10px;font-size :30px;" routerLink="/cart">
        <i class="fas fa-cart-plus px-2"></i>
        <div class="badge bg-danger" style="font-size:10px ;">{{ totalItem }}</div>
      </a>
      <button type="button" class="btn btn-danger mx-2" routerLink="/login">
        Logout</button>
    </div>
  </div>
</nav>





