.iphone {
    font-style: oblique;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;

}


.products {
    color: #e6e6fa96;
    font-weight: 500;
}

 a:hover {
    color: white;
}

.about {
    color: #e6e6fa96;
    font-weight: 500;
}

.contact {
    color: #e6e6fa96;
    font-weight: 500;
}


.login{
    font-weight: 500;
}