<br><br>
<div class="card text-center footer">
    <div class="card-header">
        Featured
    </div>
    <div class="d-flex p-4">
        <div class="explore">
            <ul class="list p-2">
                <li class="list-group-item"><b>Explore</b></li>
                <li class="list-group-item">Products</li>
                <li class="list-group-item">About</li>
                <li class="list-group-item">Contact</li>
            </ul>
        </div>
        <div class="LearnHelp">
            <ul class="list p-2">
                <li class="list-group-item"><b>Learn & Get Help</b></li>
                <li class="list-group-item">Support</li>
                <li class="list-group-item">Community</li>
                <li class="list-group-item">Status</li>
                <li class="list-group-item">Ebooks</li>
            </ul>
        </div>
        <div class="TermsService">
            <ul class="list p-2">
                <li class="list-group-item"><b>Terms of Service</b></li>
                <li class="list-group-item">Terms of Service</li>
                <li class="list-group-item">Privacy Policy</li>
                <li class="list-group-item">Cookie Policy</li>
            </ul>
        </div>
    </div>
</div>