.heading {

    padding-top: 35px;

    font-weight: 500;

    text-align: center;
    font-size: 48px;


}


.description {

    text-align: center;

    padding-top: 10px;

    font-weight: 500;
    font-size: 28px;

    color: #000000a6;

    margin-bottom: 60px;

}

.btn {

    border: solid black 1px;

    margin-top: 50px;

    padding: 8px;

    margin-left: 45%;

    font-weight: 700;

    transition-duration: 0.4s;

    text-decoration: none;

    font-size: 18px;

    font-family: sans-serif;

    border-color: #5c5c5c;

    background-color: #fcfcfc;

    &:hover {
        background-color: #867e7e29;
    }
}





#addcart{
    margin-top: 10%;
    margin-left: 50%;
    width: fit-content;
}


#listing{

    margin-bottom: 80px;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }